# All the files to ignore

#Zip backups/download files
*.zip
*.zip.*

#Raw sources files (because they are hundreds of MBs)
*.psd

#Any screenshots, etc.
*.png
*.jpg
!IL2SkinsRepoCloning.jpg
*.tga
*.bmp
U2VS/U2VS_P_YellowRed.dds
I16t24/I16Type24_EAGcamo_stars.dds
I16t24/I16Type24_EAGcamo_No8.dds
I16t24/I16Type24_EAGcamo_No7.dds
I16t24/I16Type24_EAGcamo_No6.dds
I16t24/I16Type24_EAGcamo_No5.dds
I16t24/I16Type24_EAGcamo_No17.dds
I16t24/I16Type24_EAGcamo_No11.dds
I16t24/I16Type24_EAGcamo_No10.dds
I16t24/I16Type24_EAG_stars.dds
I16t24/I16Type24_EAG_black_cowl_generic.dds
I16t24/I16Type24_EAG_black_cowl_9.dds
I16t24/I16Type24_EAG_black_cowl_8.dds
I16t24/I16Type24_EAG_black_cowl_7.dds
I16t24/I16Type24_EAG_black_cowl_6.dds
I16t24/I16Type24_EAG_black_cowl_5.dds
I16t24/I16Type24_EAG_No7.dds
I16t24/I16Type24_EAG_No6.dds
I16t24/I16Type24_EAG_No5.dds
I16t24/I16Type24_EAG_No4.dds
I16t24/I16Type24_EAG_No3.dds
I16t24/I16Type24_EAG_No2.dds
I16t24/I16Type24_EAG_No16.dds
I16t24/I16Type24_EAG_No15.dds
I16t24/I16Type24_EAG_No14.dds
I16t24/I16Type24_EAG_No13.dds
I16t24/I16Type24_EAG_No12.dds
I16t24/I16Type24_EAG_No11.dds
I16t24/I16Type24_EAG_No10.dds
I16t24/I16Type24_EAG_No1.dds
U2VS/U2VS_P_YellowRedRed.dds
U2VS/U2VS_P_YellowRedBlue.dds
U2VS/U2VS_P_YellowRedBlack.dds
I16t24/I16Type24_EAGcamo_No20.dds
I16t24/I16Type24_EAGcamo_No19.dds
I16t24/I16Type24_EAGcamo_No18.dds
I16t24/I16Type24_EAGcamo_No16.dds
I16t24/I16Type24_EAGcamo_No12.dds
I16t24/I16Type24_EAG_stars2.dds
