# All the files to ignore

#Zip backups/download files
*.zip
*.zip.*

#Raw sources files (because they are hundreds of MBs)
*.psd

#Any screenshots, etc.
*.png
*.jpg
!IL2SkinsRepoCloning.jpg
*.tga
*.bmp
